{{#var "generic"}}{{#generic}}<{{type}}>{{/generic}}{{/var}}
{{#var "empty_suffix"}}{{#generic}}<>{{/generic}}{{/var}}
package net.lenni0451.rivet.property;

import lombok.experimental.Accessors;
import net.lenni0451.rivet.component.Component;
import net.lenni0451.rivet.event.ListenerList;

import java.util.*;
import java.util.concurrent.CopyOnWriteArrayList;
import java.util.concurrent.atomic.AtomicBoolean;

@Accessors(fluent = true, chain = true, makeFinal = true)
public final class {{prefix}}Property{{var "generic"}} {

    private volatile {{type}} value;
    private final List<Updater{{var "generic"}}> validators = new CopyOnWriteArrayList<>();
    @lombok.Getter
    private final ListenerList<Setter{{var "generic"}}> updateListener = new ListenerList<>(); // Same as changeListener but always called
    @lombok.Getter
    private final ListenerList<Setter{{var "generic"}}> changeListener = new ListenerList<>(); // Not called if fireChangeListener is false in set()
    private final Map<{{prefix}}Property{{var "generic"}}, Runnable> syncedProperties = Collections.synchronizedMap(new IdentityHashMap<>());
    private final Map<Observable{{var "generic"}}, Runnable> syncedObservables = Collections.synchronizedMap(new IdentityHashMap<>());

    public {{prefix}}Property() {
        this({{defaultValue}});
    }

    public {{prefix}}Property(final {{type}} initialValue) {
        this.value = initialValue;
    }

    public {{prefix}}Property{{var "generic"}} addValidator(final Updater{{var "generic"}} validator) {
        this.validators.add(validator);
        this.revalidate();
        return this;
    }

    public {{prefix}}Property{{var "generic"}} removeValidator(final Updater{{var "generic"}} validator) {
        this.validators.remove(validator);
        return this;
    }

    public {{prefix}}Property{{var "generic"}} revalidate() {
        this.set(this.get());
        return this;
    }

    public {{type}} get() {
        return this.value;
    }
    {{#isEq prefix "Object"}}

    public {{type}} getOrElse(final {{type}} fallback) {
        {{type}} value = this.get();
        return value != null ? value : fallback;
    }
    {{/isEq}}

    {{#isEq prefix "Corners"}}
    public {{prefix}}Property{{var "generic"}} set(final float allCorners) {
        return this.set(new {{type}}(allCorners));
    }

    public {{prefix}}Property{{var "generic"}} set(final float topLeft, final float bottomLeft, final float bottomRight, final float topRight) {
        return this.set(new {{type}}(topLeft, bottomLeft, bottomRight, topRight));
    }

    {{/isEq}}
    public {{prefix}}Property{{var "generic"}} set(final {{type}} value) {
        return this.set(value, true);
    }

    public {{prefix}}Property{{var "generic"}} set({{type}} value, final boolean fireChangeListener) {
        if (!this.validators.isEmpty()) {
            for (Updater{{var "generic"}} validator : this.validators) {
                value = validator.update(value);
            }
        }
        if (notEqual(value, this.value)) {
            this.value = value;

            final {{type}} finalValue = value;
            this.updateListener.call(listener -> listener.set(finalValue));
            if (fireChangeListener) this.changeListener.call(listener -> listener.set(finalValue));
        }
        return this;
    }

    public {{prefix}}Property{{var "generic"}} update(final Updater{{var "generic"}} updater) {
        return this.set(updater.update(this.get()));
    }

    public {{prefix}}Property{{var "generic"}} update(final Updater{{var "generic"}} updater, final boolean fireChangeListener) {
        return this.set(updater.update(this.get()), fireChangeListener);
    }

    public Runnable registerSync(final {{prefix}}Property{{var "generic"}} property) {
        if (property == this) return () -> {};
        if (this.syncedProperties.containsKey(property)) return this.syncedProperties.get(property);

        // Prevent infinite loops if validators change the value to something else
        AtomicBoolean syncing = new AtomicBoolean(false);
        Setter{{var "generic"}} thisListener = value -> {
            if (!syncing.compareAndSet(false, true)) return;
            try {
                property.set(value);
                if (notEqual(this.get(), property.get())) {
                    this.set(property.get());
                }
            } finally {
                syncing.set(false);
            }
        };
        Setter{{var "generic"}} propertyListener = value -> {
            if (!syncing.compareAndSet(false, true)) return;
            try {
                this.set(value);
                if (notEqual(property.get(), this.get())) {
                    property.set(this.get());
                }
            } finally {
                syncing.set(false);
            }
        };
        Runnable unregister = () -> {
            this.updateListener.remove(thisListener);
            property.updateListener.remove(propertyListener);
            this.syncedProperties.remove(property);
            property.syncedProperties.remove(this);
        };

        this.syncedProperties.put(property, unregister);
        property.syncedProperties.put(this, unregister);
        property.set(this.get());
        this.updateListener.add(thisListener);
        property.updateListener.add(propertyListener);

        return unregister;
    }

    public Runnable registerSync(final Observable{{var "generic"}} observable) {
        if (this.syncedObservables.containsKey(observable)) return this.syncedObservables.get(observable);

        // Prevent infinite loops if validators change the value to something else
        AtomicBoolean syncing = new AtomicBoolean(false);
        Setter{{var "generic"}} thisListener = value -> {
            if (!syncing.compareAndSet(false, true)) return;
            try {
                observable.set(value);
                if (notEqual(this.get(), observable.get())) {
                    this.set(observable.get());
                }
            } finally {
                syncing.set(false);
            }
        };
        Setter{{var "generic"}} observableListener = value -> {
            if (!syncing.compareAndSet(false, true)) return;
            try {
                this.set(value);
                if (notEqual(observable.get(), this.get())) {
                    observable.set(this.get());
                }
            } finally {
                syncing.set(false);
            }
        };
        Runnable unregister = () -> {
            this.updateListener.remove(thisListener);
            observable.removeChangeListener(observableListener);
            this.syncedObservables.remove(observable);
        };

        this.syncedObservables.put(observable, unregister);
        this.set(observable.get());
        this.updateListener.add(thisListener);
        observable.addChangeListener(observableListener);

        return unregister;
    }

    public {{prefix}}Property{{var "generic"}} unregisterSync(final {{prefix}}Property{{var "generic"}} property) {
        if (property == this || !this.syncedProperties.containsKey(property)) return this;

        this.syncedProperties.get(property).run();
        return this;
    }

    public {{prefix}}Property{{var "generic"}} unregisterSync(final Observable{{var "generic"}} observable) {
        if (!this.syncedObservables.containsKey(observable)) return this;

        this.syncedObservables.get(observable).run();
        return this;
    }

    public {{prefix}}Property{{var "generic"}} unregisterSync() {
        synchronized (this.syncedProperties) {
            for (Runnable unregister : List.copyOf(this.syncedProperties.values())) {
                unregister.run();
            }
        }
        synchronized (this.syncedObservables) {
            for (Runnable unregister : List.copyOf(this.syncedObservables.values())) {
                unregister.run();
            }
        }
        return this;
    }

    private static{{#generic}} <{{type}}>{{/generic}} boolean notEqual(final {{type}} a, final {{type}} b) {
        return {{equality}};
    }


    @FunctionalInterface
    public interface Getter{{var "generic"}} {
        {{type}} get();
    }

    @FunctionalInterface
    public interface Setter{{var "generic"}} {
        void set(final {{type}} value);
    }

    @FunctionalInterface
    public interface Updater{{var "generic"}} {
        {{type}} update(final {{type}} value);
    }

    public interface Observable{{var "generic"}} {
        {{type}} get();

        void set(final {{type}} value);

        void addChangeListener(final Setter{{var "generic"}} listener);

        void removeChangeListener(final Setter{{var "generic"}} listener);
    }

    public static abstract class BasicObservable{{var "generic"}} implements Observable{{var "generic"}} {
        private final ListenerList<Setter{{var "generic"}}> changeListener = new ListenerList<>();

        @Override
        public void addChangeListener(final Setter{{var "generic"}} listener) {
            this.changeListener.add(listener);
        }

        @Override
        public void removeChangeListener(final Setter{{var "generic"}} listener) {
            this.changeListener.remove(listener);
        }

        protected void fireChangeListener(final {{type}} value) {
            this.changeListener.call(listener -> listener.set(value));
        }
    }

    /**
     * <b>Warning! Many, if not all, base rivet components are not designed to work with polled observables.
     * These components use listeners to update their state and do not call {@link Observable#get()} on their own.
     * This results in the observable not being polled and the component not updating its state.</b>
     * <br>
     * If you want to safely update the component state while polling the observable source, use {@link FramePollingObservable} instead.
     */
    public static class PollingObservable{{var "generic"}} extends BasicObservable{{var "generic"}} {
        private final Getter{{var "generic"}} getter;
        private final Setter{{var "generic"}} setter;
        private {{type}} lastValue;

        public PollingObservable(final Getter{{var "generic"}} getter, final Setter{{var "generic"}} setter) {
            this.getter = getter;
            this.setter = setter;
            this.lastValue = getter.get();
        }

        @Override
        public {{type}} get() {
            {{type}} value = this.getter.get();
            if (notEqual(value, this.lastValue)) {
                this.lastValue = value;
                this.fireChangeListener(value);
            }
            return value;
        }

        @Override
        public void set(final {{type}} value) {
            this.setter.set(value);

            {{type}} newValue = this.getter.get();
            if (notEqual(this.lastValue, newValue)) {
                this.lastValue = newValue;
                this.fireChangeListener(newValue);
            }
        }
    }

    public static class FramePollingObservable{{var "generic"}} extends BasicObservable{{var "generic"}} {
        private final Getter{{var "generic"}} getter;
        private final Setter{{var "generic"}} setter;
        private {{type}} lastValue;

        public FramePollingObservable(final Component parent, final Getter{{var "generic"}} getter, final Setter{{var "generic"}} setter) {
            this.getter = getter;
            this.setter = setter;
            this.lastValue = getter.get();

            Runnable listener = this::sync;
            parent.addedListener().add(() -> parent.rivet().renderListener().add(listener));
            parent.removedListener().add(() -> parent.rivet().renderListener().remove(listener));
        }

        @Override
        public {{type}} get() {
            return this.lastValue;
        }

        @Override
        public void set(final {{type}} value) {
            this.setter.set(value);
            this.sync();
        }

        private void sync() {
            {{type}} value = this.getter.get();
            if (notEqual(this.lastValue, value)) {
                this.lastValue = value;
                this.fireChangeListener(value);
            }
        }
    }

}
